pr:
  - master
trigger:
  batch: true
  branches:
    include:
      - master
  paths:
    exclude:
      - README.md
      - CHANGELOG.md
      - CODE_OF_CONDUCT.md

variables:
  install_command: yarn install
  test_command: yarn test -r xunit

jobs:
  - job: linux_fixed
    displayName: 'Linux - Fixed Deps'
    pool:
      vmImage: 'vs2017-win2016'
    steps:
      - template: .ado/ci-template.yml
  - job: 'Windows'
    pool:
      vmImage: 'ubuntu-16.04'
    steps:
      - template: .ado/ci-template.yml
  - job: compatibility
    displayName: 'ember'
    pool:
      vmImage: 'ubuntu-16.04'
    dependsOn:
      - linux_fixed
    strategy:
      matrix:
        ember-release:
          displayName: 'release'
          ember-try-scenario: 'ember-release'
        ember-beta:
          displayName: 'beta'
          ember-try-scenario: 'ember-beta'
        ember-canary:
          displayName: 'canary'
          ember-try-scenario: 'ember-canary'
        ember-lts-2.18:
          displayName: 'lts-2.18'
          ember-try-scenario: 'ember-lts-2.18'
        ember-jquery:
          displayName: 'optional jQuery'
          ember-try-scenario: 'ember-default-with-jquery'
      maxParallel: 5
    steps:
      - template: .ado/ci-template.yml
        parameters:
          testCommand: yarn ember try:one $(ember-try-scenario) -r xunit
          testDisplayName: 'Ember App Tests $(ember-try-scenario)'
  - job: linux_float
    displayName: 'Linux - Floating Deps'
    pool:
      vmImage: 'ubuntu-16.04'
    dependsOn:
      - linux_fixed
    steps:
      - template: .ado/ci-template.yml
        parameters:
          installCommand: yarn install --no-lockfile
