# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
  - master

strategy:
  matrix:
    linux:
      imageName: 'ubuntu-16.04'
    windows:
      imageName: 'vs2017-win2016'

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '10.x'
    displayName: 'Install Node.js'

  - script: |
      echo "Installing global dependencies"
      npm install -g yarn ember-cli
    displayName: 'Setup global deps'

  - script: |
      yarn install
      yarn build
    displayName: 'install and build'

  - script: |
      yarn test
    displayName: 'run tests'
