pool:
  vmImage: 'ubuntu-16.04'

variables:
  CI: true

trigger:
  branches:
    include:
      - master
  paths:
    exclude:
      - README.md
      - CHANGELOG.md
      - CODE_OF_CONDUCT.md

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '8.x'
    displayName: 'Install Node.js'

  - script: |
      npm install -g yarn
    displayName: 'Setup global tools'

  - script: |
      yarn install
    displayName: 'Build'

  - script: |
      yarn test -r xunit
    displayName: 'Ember App Tests'

  - script: |
      echo " --- EMBER TESTS --- " && cat ember-tests.xml
    displayName: 'Log test output files'

  - task: PublishTestResults@2
    inputs:
      testResultsFormat: 'jUnit'
      testResultsFiles: '*-tests.xml'
